<div class="list-wrap">
<% @lists.each do |list| %>
  <div class="list-box">
    <% if list.image.attached? %>
      <%= image_tag list.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
    <div class="list-comment">
      <span class="list-body"><%= list.body %></span>
      <span class="list-title"><%=link_to list.title, list_path(list.id) %></span>
    </div>
  </div>
<% end %>
</div>


<!--@listsの中身は、先ほどコントローラのindexアクションで代入した内容がそのまま入っています。-->
<!--@lists.eachと記述することで、Listレコードの数だけ繰り返し処理を行います。-->
<!--listという変数に格納されます-->
<!--list.[カラム名]　list.titleと記述することで、投稿のタイトル（レコードのカラムの内容）が表示-->